@model X.PagedList.PagedList<LendCar.Models.Vehicle>

@for (int i = 0; i < Model.Count; i++)
{
    <section id="ts-team" class="ts-team">
        <div class="container">

            @if (i == 0)
            {
            <div class="row">
                <div class="col-md-6 text-left titl-list">
                    <h1>Inventory</h1>
                </div>

                <div class="col-md-6 adv">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="input-group" id="adv-search">

                                <div class="col-md-6">
                                    <input type="text" class="" placeholder="Search for snippets" />
                                </div>

                                <div class="col-md-2">
                                    <div class="input-group-btn">
                                        <div class="btn-group" role="group">
                                            <div class="dropdown dropdown-lg">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                                <div class="dropdown-menu dropdown-menu-right" role="menu" style="padding: 20px" ;>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <label for="filter">Filter by</label>
                                                            <select class="form-control">
                                                                <option value="0" selected>All citits</option>
                                                                <option value="1">Featured</option>
                                                                <option value="2">Most popular</option>
                                                                <option value="3">Top rated</option>
                                                                <option value="4">Most commented</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="filter">Filter by</label>
                                                            <select class="form-control">
                                                                <option value="0" selected>All Brands</option>
                                                                <option value="1">Featured</option>
                                                                <option value="2">Most popular</option>
                                                                <option value="3">Top rated</option>
                                                                <option value="4">Most commented</option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }

            @for (int j = 0; j < 3 && Model.Count > i; j++, i = (j != 3 ? ++i : i))
            {

                <div class="item col-md-4 ">
                    <div class="ts-team-wrapper">
                        <div class="team-img-wrapper">

                            <img alt="" src="@Url.Content(Model[i].ImageUrl)" class="img-responsive">

                        </div>
                        <div class="ts-team-content">

                            <h2 class="ts-name">@Model[i].Model.Brand.Name @Model[i].Model.Name @Model[i].Year</h2>

                            <p class="ts-designation">Available from: @Model[i].StartDate</p>

                            <p class="ts-designation">Available until: @Model[i].EndDate</p>

                            @*<p class="ts-description">@Model[i].VIN</p>*@

                            <p>Color: <i class="fas fa-car" style="color:@Model[i].Color.HexValue"></i><strong > @Model[i].Color.Name</strong></p>

                            <strong>@Model[i].PricePerDay EGP Daily</strong><br><br>

                            <a class="btn btn-warning" asp-page="CarDetails" asp-area="Cars" asp-route-Id="@Model[i].Id">Details</a>
                        </div>
                    </div><!--/ Team wrapper end -->
                </div>
            }

        </div>
    </section>

    

        }
