@model ViewModels.ClientHistoryViewModel
@inject Repository.ICarRepository ICarRepository


    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <div class="description text-center">
                            <h2>Hire Table</h2>
                            <p>Cars that the customer has Hired :</p>
                        </div>
                        <form>
                            <table class="table table-striped">
                                <thead style="background-color:var(--main-color);color:#fff;">
                                    <tr>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Start Hire</th>
                                        <th>End Hire</th>
                                        <th>Case</th>
                                        <th>Cancel</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.UserBookingCars.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.UserBookingCars[i].Vehicle.Model.Brand.Name</td>
                                            <td>@Model.UserBookingCars[i].Vehicle.Model.Name</td>
                                            <td>@Model.UserBookingCars[i].HireDate</td>
                                            <td>@Model.UserBookingCars[i].ReturnData</td>
                                            <td>
                                                @(
                                                    Convert.ToDateTime(ICarRepository.ChangeDateFormatToDaysMonthYears(Model.UserBookingCars[i].ReturnData)) >=
                                                    Convert.ToDateTime(DateTime.Now.ToString("dd-MM-yyyy")) ? "Active" : "End"
                                                )
                                            </td>
                                            <td>
                                                <input type="button"
                                                       class="btn btn-danger btnCancel"
                                                       disabled="@(Convert.ToDateTime(Model.UserBookingCars[i].HireDate).Date <= DateTime.Now.Date?"disabled":null)"
                                                       data-id="@Model.UserBookingCars[i].Id"
                                                       value="Cancel" />
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </form>
                    </div>

                    <div id="tab2" class="tab-pane fade in ">
                        <div class="description text-center">
                            <h2>Rent Table</h2>
                            <p>Cars that the customer has rented :</p>
                        </div>
                        <table class="table table-bordered">
                            <thead style="background-color:var(--main-color);color:#fff;">
                                <tr>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Start Hire</th>
                                    <th>End Hire</th>
                                    <th>Case</th>
                                    <th>Is Accepted</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.UserCars.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.UserCars[i].Model.Brand.Name</td>
                                        <td>@Model.UserCars[i].Model.Name</td>
                                        <td>@Model.UserCars[i].StartDate</td>
                                        <td>@Model.UserCars[i].EndDate</td>
                                        <td>
                                            @(
                                                Convert.ToDateTime(ICarRepository.ChangeDateFormatToDaysMonthYears(Model.UserCars[i].EndDate)) >=
                                                Convert.ToDateTime(DateTime.Now.ToString("dd-MM-yyyy")) ? "Active" : "End"
                                            )
                                        </td>
                                        <td>
                                            @(Model.UserCars[i].AcceptedAdmin ? "Accepted" : "Pending")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
