@model IPagedList<LendCar.Models.VehicleType>
    <table class="table table-striped custab table-responsive table-bordered">
        <thead style="color:#fff;background-color:var(--main-color)">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Vehcile Type</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        @{
            int counter = Model.PageNumber * Model.PageSize - (Model.PageSize - 1);
            foreach (var vType in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@vType.Type</td>
                    <td class="text-center">
                        <a data-edited-vType-id="@vType.Id" data-edited-vType-name="@vType.Type" class='btn btn-info btn-xs edit-vType-btn' onclick="ShowEditVTypeModal(this)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a data-deleted-vType-id="@vType.Id" data-deleted-vType-name="@vType.Type" class="btn btn-danger btn-xs delete-vType" onclick="DeleteVType(this)"><span class="glyphicon glyphicon-remove "></span> Del</a>
                    </td>
                </tr>
                counter++;
            }
        }
    </table>
