@page
@model bookingModel
@{
    ViewData["Title"] = "booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="booking">
    <div class="container">
        <div class="row left-side">
            <div class="col-md-7 col-xs-12">
                <div class="title">
                    <h1>Your Info</h1>
                </div>
                <div class="box-info">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <div class="info">
                        <p>Since this is your first trip, you’ll need to provide your photo, driver’s license, and contact info to set up your account.</p>
                    </div>
                </div>
                <hr>
                <h3>Driver's license</h3>
                <p>Enter your info exactly as it appears on your license so Turo can verify your eligibility to drive.</p>
                <!-- form -->

                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <input name="carId" value="@Model.CarId" hidden /> 
                            <div class="form-group">
                                <label asp-for="ModelUser.FirstName">Fist Name</label>
                                <input asp-for="ModelUser.FirstName" class="form-control" type="text">
                               <span asp-validation-for="ModelUser.FirstName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ModelUser.LastName">Last Name</label>
                                <input asp-for="ModelUser.LastName" class="form-control" type="text">
                                <span asp-validation-for="ModelUser.LastName"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>City</label>
                                <select  asp-for="ModelUser.CityId" asp-items="Model.Cites" class="form-control">
                                    
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="ModelUser.DriverLicenseNumber">License number</label>
                            <input asp-for="ModelUser.DriverLicenseNumber" class="form-control" type="text">
                            <span  asp-validation-for="ModelUser.DriverLicenseNumber"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ModelUser.PhoneNumber">Phone number</label>
                            <input asp-for="ModelUser.PhoneNumber" class="form-control" type="text">
                            <span asp-validation-for="ModelUser.PhoneNumber"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Date Of Birth</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <select asp-for="Day" class="form-control" asp-items="bookingModel.Days">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select  asp-for="Month" class="form-control" asp-items="bookingModel.Months">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select  asp-for="Year"  class="form-control" asp-items="@bookingModel.Years">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 confirm">
                            <button type="submit" class="btn btn-primary btn-block">Continue <i class="fas fa-share-square"></i></button>
                        </div>
                    </div>
                </form>
                <hr>
            </div>

            <!-- right-side -->
            <div class="col-md-4 col-box">
                <div class="car-info">
                    <img src="@Url.Content(Model.Vehicle.ImageUrl)" class="img-responsive car-img">
                    <img src="@Url.Content(Model.Vehicle.Owner.ImageUrl)" class="img-responsive  person-img">
                </div><br>
                      <div class="car-details">
                          <p class="car-owner">dewei’s</p>
                          <h3>@Model.Vehicle.Model.Brand.Name</h3>
                          <div class="rate">
                              <span class="rate-number">4.88</span>
                              <i class="fas fa-star"></i>
                              <span>(@Model.Vehicle.TripsNumber trips)</span>
                          </div>
                     
                          <div class="from-to-booking">
                              <div class="from-booking">
                                  <div class="schedule-date">@Model.StartBookingDate</div>
                              </div>
                              <div class="to-booking">
                                  <div class="schedule-date">@Model.EndBookingDate</div>
                              </div>
                          </div>
                      </div>
                <hr>
                <div class="meeting-location">
                    <h5>MEETING LOCATION</h5>
                    <div class="meeting-location-icon">
                        <i class="fas fa-car"></i>
                    </div>
                    <div class="location">
                        <p>@Model.Contact.Location</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
