@page
@model LendCar.Pages.carDetailsModel
@{
    ViewData["Title"] = "carDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner2.jpg)">
    <div class="banner-text">
        <div class="row">
            <div class="col-xs-12">
                <div id="page-slider" class="owl-carousel owl-theme page-slider page-slider-small">

                    @foreach (var item in Model.CurrentCarImges)
                    {
                        <div class="item">
                            <img src="@Url.Content(item.Image)" alt="" />
                        </div>
                    }


                    @*<div class="item">
            <img src="https://bit.ly/3foiQN4" alt="" />
        </div>
        <div class="item">
            <img src="https://bit.ly/35CjFh6" alt="" />
        </div>
        <div class="item">
            <img src="https://bit.ly/3dosX2W" alt="" />
        </div>*@

                </div><!-- Page slider end -->
            </div><!-- Slider col end -->
        </div><!-- Row end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->


<section id="main-container" class="main-container">
    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-2">
                        <p>Vehicle</p>
                    </div>
                    <div class="col-md-8">
                        <h3> @Model.CurrentCar.Model.Brand.Name @Model.CurrentCar.Model.Name  @Model.CurrentCar.Year</h3>
                        <h2><span>@Model.CurrentCar.Rate<i class="fa fa-star "></i></span></h2>
                        <span>(@Model.CurrentCar.TripsNumber Trips)</span>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><i class="fa fa-tachometer"></i>  @Model.CurrentCar.GasMileage KMPL</h3>
                                <h3><i class="fa fa-clone "></i>  @Model.CurrentCar.NumberOfDoors doors</h3>
                            </div>
                            <div class="col-md-6">
                                <h3><i class="fa fa-car"></i>  @Model.CurrentCar.EnergyMakeCarMove </h3>
                                <h3><i class="fa fa-group "></i>   @Model.CurrentCar.NumberOfSeats seats</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <p>Vehicle owner</p>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-4 center-block" >
                            <img src="@Model.Owner.ImageUrl" alt="@Model.Owner.FirstName" class="img-circle">
                        </div>
                        <div class="col-md-8">
                            <h4>@Model.Owner.FirstName @Model.Owner.LastName</h4>
                            <p>@Model.Owner.TripsNumber trips  <i class="fa fa-dot-circle-o"></i> Joined @Model.Owner.JoinedAt</p>
                            <p>@Model.Owner.BriefAboutMe</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-6">
                <div class="row">
                    <h2 class="col-md-6">@Model.CurrentCar.PricePerDay EGP / day</h2>
                </div>
                <div class="row">
                    <form>
                        <div class="form-group col-md-10">
                            <label for="TripStart">Trip start : </label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" class="form-control" id="TripStart" value="@Model.CurrentCar.StartDate" min="@Model.CurrentCar.StartDate">
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="Tripend">Trip end : </label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" class="form-control" id="Tripend" value="@Model.CurrentCar.EndDate" max="@Model.CurrentCar.EndDate">
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary col-md-9" style="width:70%;margin-left:17px">Go To Checkout</button>
                    </form>

                </div>
            </div><!-- Content col end -->

        </div><!-- Row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->
