@page
@model LendCar.Pages.carDetailsModel
@{
    ViewData["Title"] = "Car Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div id="banner-area">
    <div class="container ">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p class="Vehicle-p">Vehicle</p>
                    </div>
                    <div class="col-md-8">
                        <h3> @Model.CurrentCar.Model.Brand.Name @Model.CurrentCar.Model.Name  @Model.CurrentCar.Year</h3>
                        @{
                            double? rate = 0;
                            if (@Model.CurrentCar.Rate != null)
                            {
                                rate = Model.CurrentCar.Rate;
                            }
                        }
                        <h2> @rate <span><i class="fa fa-star "></i></span></h2>

                        <span>(@Model.CurrentCar.TripsNumber Trips)</span>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><i class="fas fa-palette"></i>  @Model.CurrentCar.Color.Name</h3>

                                <h3><i class="fas fa-tachometer-alt"></i>  @Model.CurrentCar.GasMileage KMPL</h3>
                            </div>
                            <div class="col-md-6">
                                @*<h3><i class="fa fa-car"></i>  @Model.CurrentCar.EnergyMakeCarMove </h3>*@
                                <h3><i class="fa fa-clone "></i>  @Model.CurrentCar.NumberOfDoors doors</h3>

                                <h3><i class="fa fa-group "></i>   @Model.CurrentCar.NumberOfSeats seats</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Vehicle's Galary</h3>
                <div id="page-slider" class="car-details-slider owl-carousel owl-theme page-slider page-slider-small">
                    @if (Model.CurrentCarImges != null)
                    {
                        @foreach (var item in Model.CurrentCarImges)
                        {
                            <div class="item">
                                <img src="@Url.Content(item.Image)" alt="" />
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

</section>


<section id="main-container" class="main-container car-details">
    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <p>Vehicle owner</p>
                        <p><i class="fas fa-level-up-alt fa-3x fa-rotate-90"></i></p>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-4 center-block">
                            <img src="@Url.Content(Model.Owner.ImageUrl)" alt="@Model.Owner.FirstName" class="img-circle img-responsive" >
                        </div>
                        <div class="col-md-8">
                            <h3>@Model.Owner.FirstName @Model.Owner.LastName</h3>
                            <p>@Model.Owner.TripsNumber trips  <i class="fa fa-dot-circle-o"></i> Joined @Model.Owner.JoinedAt</p>
                            <p>@Model.Owner.BriefAboutMe</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <h2 class="col-md-12">@Model.CurrentCar.PricePerDay EGP / day</h2>
                </div>
                <div class="row">
                    <form method="post">
                        <input type="hidden" name="carId" value="@Model.CurrentCar.Id" />
                        <div class="form-group col-md-12">
                            <label for="TripStart">Trip start : </label>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="date"
                                           class="form-control" ,required
                                           asp-for="StartBookingDate"
                                           id="Tripend"
                                           min="@Model.CurrentCar.StartDate"
                                           max="@Model.CurrentCar.EndDate">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Tripend">Trip end : </label>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="date" required
                                           class="form-control" id="TripStart"
                                           asp-for="EndBookingDate"
                                           min="@Model.CurrentCar.StartDate"
                                           max="@Model.CurrentCar.EndDate">
                                </div>
                                <span></span>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (Model.avilabeldays != null)
                                    {
                                        <span class="text-danger">This Vechicle not available in all Days You want </span>
                                        <button type="button" class="btn btn-link text-danger" data-toggle="modal" data-target="#exampleModal">
                                            Details
                                        </button>
                                    }
                                    @if (Model.DateIsNotCorrect)
                                    {
                                        <span class="text-danger">Please select a valid date </span>
                                    }
                                </div>
                            </div>

                            <button type="submit" id="con" class="btn btn-primary btn-block">Go To Checkout</button>
                        </div>

                    </form>

                </div>
            </div><!-- Content col end -->

        </div><!-- Row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Avilabel Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.avilabeldays != null)
                {
                    foreach (var item in Model.avilabeldays)
                    {
                        <div class="row">

                            <div class="col-xs-offset-2 col-md-5 text-info ">
                                <p>@item.Key</p>
                            </div>
                            <div class="col-xs-3 text-danger">
                                <p class='text @(item.Value=="Available"?"text-info":"text-danger")'>@item.Value</p>
                            </div>

                        </div>
                    }
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>