@*@page
@model LendCar.Areas.Cars.Pages.UserProfileModel
<div class="container mainDivBackground offset-1">
    <div class="row">
        <div class="col-8">
            <div class="row pt-5">
                <div class="col-1">
                    <img class="image rounded-circle" src="@Url.Content(Model.LoggedUserInfo?.ImageUrl)" />
                </div>
                <div class="col-8 text-left pl-5">
                    <span class="pl-4 text-light">@Model.UserProfile?.UserName</span>
                    <h5 class="text-light pl-4">@Model.UserProfile?.FullName</h5>
                    this is user info ....
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"> 
            <div class="row">
                <div class="col-12">
                    @if (Model.UserVehicles != null)
                    {
                        for (int i = 0; i < Model.UserVehicles?.Count; i++)
                        {
                            <div class="AnswerItem mt-3  pl-5 pt-4 pb-4">
                                <div class="row">
                                 
                                </div>
                                <div class="row pt-5">
                                    <span class='fas fa-heart fa-lg @(Model.QuestionRepository.UserLikeThisAnswer(Model.LoggedUser.Id,Model.ProfileQuestions[i].Id)?"redColor":"likeColor")' data-id="@Model.ProfileQuestions[i].Id">
                                        <a style="color:black" id="likeCount">@Model.QuestionRepository.QuestionLikeCount(Model.ProfileQuestions[i].Id)</a>
                                    </span>
                                    <span class="fas fa-fire fa-lg pl-5 likeColor">
                                        <a style="color:black">1</a>
                                    </span>
                                    @if (Model.IsLoggedUserProfile)
                                    {
                                        <a href="javascript:fbShare('https://ask.fm/givara9', 'Fb Share', 'Facebook share popup', 'http://givara.com', 520, 350)">
                                            <span onclick="" class='fab fa-facebook fa-lg pl-5 float-right facebookColor'>
                                            </span>
                                        </a>
                                        <a href="javascript:tweetCurrentPage()">
                                            <span onclick="" class='fab fa-twitter fa-lg pl-5 float-right facebookColor'>
                                            </span>
                                        </a>
                                    }

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-4">
            <section>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-3">
                            <figure class="figure">
                                <img src="~/Images/answerIcon.png" class="Icons" />
                                <figcaption class="figure-caption text-center text-white font-weight-bold pt-2">@Model.NumberOfAnswers</figcaption>
                                <figcaption class="figure-caption text-center">Answer</figcaption>
                            </figure>
                        </div>
                        <div class="col-3  ">
                            <figure class="figure">
                                <img src="~/Images/heartIcon.png" class="Icons" />
                                <figcaption class="figure-caption text-center  text-white font-weight-bold pt-2 "> <span id="UserLikes">@Model.NumberOfLikes</span></figcaption>
                                <figcaption class="figure-caption text-center">Likes</figcaption>
                            </figure>
                        </div>
                        <div class="col-3">
                            <figure class="figure">
                                <img src="~/Images/followers.png" class="Icons" />
                                <figcaption class="figure-caption text-center text-lg-center font-weight-bold text-white pt-2">@Model.NumberOfFollowers</figcaption>
                                <figcaption class="figure-caption text-center">Follower</figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="container pt-2 sliveColor">
                    <div class="row font-weight-bold pt-1">About me</div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <span class="fas fa-user"> </span>
                            <span class="pl-1">
                                is this the feeling i need to walk with
                                there is something missing in my life
                            </span>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="pl-1">
                                Egypt
                            </span>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <i class="fas fa-hashtag"></i>
                            <span class="pl-1">
                                #programming #visual studio
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>*@
 