@page
@model LendCar.Pages.userProfileModel
@{
    ViewData["Title"] = "Profile";
}

<section id="main-container " class="main-container user-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 user-image">
                        @{
                            string img = Url.Content("~/images/users/default.jpg");
                            if (Model.CurrentUser.ImageUrl != null)
                                img = Model.CurrentUser.ImageUrl;
                        }
                        <img src="@img" alt="@Model.CurrentUser.FirstName's picture" class="img-circle">
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <h5 style="text-transform:capitalize"><i class="fas fa-user"></i> @Model.CurrentUser.FirstName.ToLower() @Model.CurrentUser.LastName.ToLower()</h5>
                            <p><i class="fas fa-car-alt"></i> @Model.CurrentUser.TripsNumber trips  <i class="fa fa-dot-circle-o"></i> Joined @Model.CurrentUser.JoinedAt</p>
                            <p><i class="fas fa-city"></i> @Model.CurrentUser.City.Name</p>
                            <p>@Model.CurrentUser.BriefAboutMe</p>
                            <p><i class="fas fa-car-side"></i> Has @Model.UserVehicles.Count vehicles</p>
                        </div>
                    </div>
                </div>
                <hr />
                <h3><a asp-area="Account" asp-page="/changePassword"><i class="fas fa-unlock-alt"></i>  Change Passowrd</a></h3>
                <br />
                <h3><a asp-area="User" asp-page="/UserInfo"><i class="fas fa-user-edit"></i>  Edit Info</a></h3>
                <br />
                <h3><a asp-area="Account" asp-page="/History"><i class="fas fa-history"></i>  History</a></h3>
            </div>

        @*Left side*@
        <div class="col-md-6">
            <section id="news" class="news">
                <div class="container">
                    <h2 class="section-title">@Model.CurrentUser.FirstName's Vehicles</h2>
                    <hr />
                    <!--/ Title row end -->
                    @foreach (var vehicle in Model.UserVehicles)
                    {
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="latest-post">
                                    <div class="latest-post-media">

                                        <img class="img-responsive" src="@Url.Content(vehicle.ImageUrl)" alt="@vehicle.Model.Brand.Name">

                                    </div>
                                    <div class="post-body">
                                        <div class="post-title">
                                            <div>
                                                <h4>@vehicle.Model.Brand.Name @vehicle.Model.Name @vehicle.Year</h4>
                                                <h5>@vehicle.Rate <i class="fas fa-star-half-alt" style="color:forestgreen"></i><span>(@vehicle.TripsNumber Trips)</span></h5>
                                            </div>
                                        </div>
                                        <div class="latest-post-meta">
                                            <span class="post-item-date">
                                                <i class="fa fa-clock-o"></i> Available from @vehicle.StartDate
                                            </span>
                                            <div style="margin-bottom:5px">
                                                <a class="btn btn-primary" asp-page="CarDetails" asp-area="Cars" asp-route-id="@vehicle.Id">Details</a>
                                                <a class="btn btn-primary" asp-page="EditCar" asp-area="Cars" asp-route-id="@vehicle.Id">Edit</a>

                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Latest post end -->

                            </div><!-- 1st post col end -->
                        </div>
                    }
                    <!--/ Content row end -->
                <div class="row">
                    
                        @Html.PagedListPager((IPagedList)Model.UserVehicles, CarsPage => "/User/Profile?CarsPage=" + CarsPage,
                                           new X.PagedList.Mvc.Common.PagedListRenderOptions
                                           {
                                               DisplayLinkToFirstPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                                               DisplayLinkToLastPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,

                                               ContainerDivClasses = new[] { "navigation" },
                                               LiElementClasses = new[] { "page-item", "admin-list" },
                                               PageClasses = new[] { "page-link" },
                                           })
                 
                </div>
                </div>
                <!--/ Container end -->
            </section>
            <!--/ News end -->

        </div><!-- Content col end -->

        </div><!-- Row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->
